<form method="post" action="/songs/new">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title"
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Youtube link:</label>
    <input type="text" name="url">
  </div>
  <div>
  <input class="btn" type="submit" value="Submit a song.">
  </div>

</form>