<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
<div>
  <% if current_user %>
    <h1>Hello <%= current_user.username %> </h1>
    <form method="post" action="/logout">
     <button type="submit">Logout</button>
    </form>

  <% else %>
    <form method="post" action="/login">
      <div>
        <label>User Name:</label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Password:</label>
        <input type="text" name="password">
      </div>
      <div>
        <input class="btn" type="submit" value="Login">
      </div>
    </form>
    <a href='/user/new'>Or register</a>

  <% end %>

</div>
  <%= yield %>
</body>
</html>
